{% set data = [] %}

{% if product.isConfigurable() and product.getVariantSelectionMethod() == 'match' and not product.variants.empty()  %}
    {% for productOption in product.options %}
        {% for productOptionValue in productOption.values %}

            {% set variant = product.variants.get(loop.index-1) %}{#product.variants.get(loop.parent.loop.index-1)#}

            {% if variant is not null %}
                {% set data = data|merge([{
                    'allergenics': variant.allergenics|length ? variant.allergenics : product.allergenics,
                    'aspartame': variant.aspartame is not null ? variant.aspartame : product.aspartame,
                    'caffeine': variant.caffeine is not null ? variant.caffeine : product.caffeine,
                    'colorants': variant.colorants|length ? variant.colorants : product.colorants,
                    'ingredients': variant.ingredients|length ? variant.ingredients : product.ingredients,
                    'intake': variant.intake is not null ? variant.intake : product.intake,
                    'nutritionFacts': variant.nutritionFacts|length ? variant.nutritionFacts : product.nutritionFacts,
                    'productOption': productOption.code,
                    'productOptionValue': productOptionValue.code,
                    'preservative': variant.preservative is not null ? variant.preservative : product.preservative,
                    'sweetener': variant.sweetener is not null ? variant.sweetener : product.sweetener,
                    'sweetenerAndSugar': variant.sweetenerAndSugar is not null ? variant.sweetenerAndSugar : product.sweetenerAndSugar,
                    'tooMuchSugarReplacer': variant.tooMuchSugarReplacer is not null ? variant.tooMuchSugarReplacer : product.tooMuchSugarReplacer,
                }]) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}

<div id="ecolos_product_variants_ingredients" style="display: none;">
    {% import '@EcolosSyliusEuPlugin/sweeteners.html.twig' as sweeteners %}
    {% import '@EcolosSyliusEuPlugin/colorants.html.twig' as colorants %}
    {% import '@EcolosSyliusEuPlugin/caffeine.html.twig' as caffeine %}
    {% import '@EcolosSyliusEuPlugin/preservative.html.twig' as preservative %}

    {% for option in data %}
        <div data-{{ option.productOption }}='{{ option.productOptionValue }}'>
            {{ option.ingredients | raw }}

            {% if option.allergenics|length %}
                <div>{{ option.allergenics | raw }}</div>
            {% endif %}

            <div>{{ colorants.html(product, option) | raw }}</div>

            <div>{{ caffeine.html(product, option) | raw }}</div>

            <div>{{ sweeteners.all(product, option) | raw }}</div>

            <div>{{ preservative.text(product, option) | raw }}</div>
        </div>
    {% endfor %}
</div>

<div id="ecolos_product_variants_intake" style="display: none;">
    {% for option in data %}
        <div data-{{ option.productOption }}='{{ option.productOptionValue }}'>
            {{ option.intake | raw }}
        </div>
    {% endfor %}
</div>

<div id="ecolos_product_variants_nutritionFacts" style="display: none;">
    {% for option in data %}
        <div data-{{ option.productOption }}='{{ option.productOptionValue }}'>
            {{ option.nutritionFacts | raw }}
        </div>
    {% endfor %}
</div>

{% include '@SyliusShop/Product/Show/Tabs/_details.html.twig' %}
{% include '@EcolosSyliusEuPlugin/_tabs.html.twig' %}
{% include '@EcolosSyliusMakerPlugin/shop_product_show_tab_maker.html.twig' %}
{% include '@SyliusShop/Product/Show/Tabs/_reviews.html.twig' %}
