{% macro skeleton(tabId, h2) %}
    <a class='item' data-tab='{{ tabId }}'><h2>{{ h2 }}</h2></a>
{% endmacro %}

{% import _self as macros %}

<a class='item active' data-tab='details'>
    <h2>{{ 'sylius.ui.description'|trans }}</h2>
</a>

{#<strong>{{ "ecolos_sylius_eu_plugin.hint"|trans }}: </strong>#}

{% set nutritionFactsMenuEntry = macros.skeleton("nutritionFacts", 'ecolos_sylius_eu_plugin.nutritionFacts'|trans ) %}
{% if product.nutritionFacts|length > 0 %}
    {{ nutritionFactsMenuEntry | raw }}
{% else %}
    {% set breakNutritionFacts = false %}
    {% for variant in product.variants if breakNutritionFacts == false and variant.nutritionFacts|length > 0 %}
        {% set breakNutritionFacts = true %}
        {{ nutritionFactsMenuEntry | raw }}
    {% endfor %}
{% endif %}

{% set ingredientsMenuEntry = macros.skeleton("ingredients", product.mainTaxon.code in ecolos_eu_non_food ? 'ecolos_sylius_eu_plugin.material'|trans : 'ecolos_sylius_eu_plugin.ingredients'|trans) %}
{% if product.ingredients|length > 0 %}
    {{ ingredientsMenuEntry | raw }}
{% else %}
    {% set breakIngredients = false %}
    {% for variant in product.variants if breakIngredients == false and variant.ingredients|length > 0 %}
        {% set breakIngredients = true %}
        {{ ingredientsMenuEntry | raw }}
    {% endfor %}
{% endif %}

{% set intakeMenuEntry = macros.skeleton("intake", 'ecolos_sylius_eu_plugin.intake'|trans) %}
{% if product.nutritionFacts|length > 0 %}
    {{ intakeMenuEntry | raw }}
{% else %}
    {% set breakIntake = false %}
    {% for variant in product.variants if breakIntake == false and variant.intake|length > 0 %}
        {% set breakIntake = true %}
        {{ intakeMenuEntry | raw }}
    {% endfor %}
{% endif %}

{% if product.maker is not null %}
    {{ macros.skeleton("vendor", 'ecolos_sylius_maker_plugin.maker'|trans ) }}
{% endif %}

{{ macros.skeleton("reviews", 'sylius.ui.reviews'|trans ) }}