{% macro price(product, _contentsUnit, _contents, units) %}
    {% set contentsUnit = product.getAttributeByCodeAndLocale(_contentsUnit, sylius.localeCode) %}

    {% if contentsUnit is not null %}
        {% set unit = contentsUnit.attribute.configuration.choices[contentsUnit.value[0]][sylius.localeCode] %}

        {% if unit is not null and unit in units %}
            {% set contents = product.getAttributeByCodeAndLocale(_contents, sylius.localeCode) %}

            {% if contents is defined %}
                {% set divider = contents.value %}

                {% if divider is not same as(0) %}
                    {% set gross = product | sylius_resolve_variant | sylius_calculate_price({'channel': sylius.channel}) %}

                    {% import '@EcolosSyliusEuPlugin/from.html.twig' as from %}
                    {{ from.array(product.variants) }}

                    {{ (gross * 10 / divider) | round(2) | number_format(2, ',', '.') }} € / {{ unit == 'ml' ? 'l' : 'kg' }}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro pdp(product, contentsUnit, contents, units) %}
    {% from _self import price %}

    <span class="ui huge header">
        <span id='ecolos-eu-product-base-price' class='ui sub header'>
            {{ price(product, contentsUnit, contents, units) }}
        </span>
    </span>
{% endmacro %}

{% macro box(product, contentsUnit, contents, units) %}
    {% from _self import price %}

    <span class="ecolos-eu-product-base-price">{{ price(product, contentsUnit, contents, units) }}</span>
{% endmacro %}
