{% macro text(mg) %}
    {% if mg matches '/^\\d+$/' %}
        <strong>{{ "sylius.ui.warning"|trans }}: </strong>{{ 'ecolos_sylius_eu_plugin.caffeineWarning' | trans }}
        <strong>{{ 'ecolos_sylius_eu_plugin.caffeineContents' | trans }}
        : </strong>{{ mg }} {{ 'ecolos_sylius_eu_plugin.mgPerPortion' | trans }}
    {% endif %}
{% endmacro %}

<div id="ecolos_product_variant_caffeine">
    {% import _self as macros %}

    {% if firstVariant.caffeine is not null and product.caffeine is not null %}
        <p>
            {{ macros.text(firstVariant.caffeine is not null ? firstVariant.caffeine : product.caffeine) }}
        </p>
    {% endif %}
</div>
