{% macro text(mg) %}
    {% if mg matches '/^\\d+$/' %}
        {{ 'ecolos_sylius_eu_plugin.caffeineHigh' | trans }}: {{ mg }} {{ 'ecolos_sylius_eu_plugin.mgPerPortion' | trans }} {{ 'ecolos_sylius_eu_plugin.caffeineWarning' | trans }}
    {% endif %}
{% endmacro %}

{% macro html(product, variant) %}
    {% if variant.caffeine matches '/^\\d+$/' or product.caffeine matches '/^\\d+$/' %}
        <div class="ecolos_product_variant_caffeine">
            {% import _self as macros %}

            {{ macros.text(variant.caffeine matches '/^\\d+$/' ? variant.caffeine : product.caffeine) }}
        </div>
    {% endif %}
{% endmacro %}