{% set product = product is defined ? product : settings.product %}

{% set options = [] %}

{% if product.isConfigurable() and product.getVariantSelectionMethod() == 'match' and not product.variants.empty() %}
    {% for productOption in product.options %}
        {% for productOptionValue in productOption.values %}
            {% set variant = product.variants.get(loop.index - 1) %}

            {% if variant is not null %}
                {% set options = options|merge([{
                    'allergenics': variant.allergenics|length ? variant.allergenics : product.allergenics,
                    'aspartame': variant.aspartame is not null ? variant.aspartame : product.aspartame,
                    'caffeine': variant.caffeine is not null ? variant.caffeine : product.caffeine,
                    'colorants': variant.colorants|length ? variant.colorants : product.colorants,
                    'ingredients': variant.ingredients|length ? variant.ingredients : product.ingredients,
                    'intake': variant.intake is not null ? variant.intake : product.intake,
                    'nutritionFacts': variant.nutritionFacts|length ? variant.nutritionFacts : product.nutritionFacts,
                    'productOption': productOption.code,
                    'productOptionValue': productOptionValue.code,
                    'preservative': variant.preservative is not null ? variant.preservative : product.preservative,
                    'sweetener': variant.sweetener is not null ? variant.sweetener : product.sweetener,
                    'sweetenerAndSugar': variant.sweetenerAndSugar is not null ? variant.sweetenerAndSugar : product.sweetenerAndSugar,
                    'tooMuchSugarReplacer': variant.tooMuchSugarReplacer is not null ? variant.tooMuchSugarReplacer : product.tooMuchSugarReplacer,
                }]) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}

<div id="ecolos_product_variants_ingredients" style="display: none;">
    {% from '@EcolosSyliusEuPlugin/util.html.twig' import colorants, preservative, caffeine, aspartame, sweetener, sweetenerAndSugar, tooMuchSugarReplacer %}

    {% for option in options %}
        <div data-{{ option.productOption }}='{{ option.productOptionValue }}'>
            {{ option.ingredients | raw }}

            {% if option.allergenics | length %}
                <div>{{ option.allergenics | raw }}</div>
            {% endif %}

            <div>{{ colorants(product, option) | raw }}</div>

            <div>{{ caffeine(product, option) | raw }}</div>

            <div>
                {#Sweeteners START#}
                {{ aspartame(product, option) | raw }}
                {{ sweetener(product, option) | raw }}
                {{ sweetenerAndSugar(product, option) | raw }}
                {{ tooMuchSugarReplacer(product, option) | raw }}
                {#Sweeteners END#}
            </div>

            <div>{{ preservative(product, option) | raw }}</div>
        </div>
    {% endfor %}
</div>

<div id="ecolos_product_variants_intake" style="display: none;">
    {% for option in options %}
        <div data-{{ option.productOption }}='{{ option.productOptionValue }}'>
            {{ option.intake | raw }}
        </div>
    {% endfor %}
</div>

<div id="ecolos_product_variants_nutritionFacts" style="display: none;">
    {% for option in options %}
        <div data-{{ option.productOption }}='{{ option.productOptionValue }}'>
            {{ option.nutritionFacts | raw }}
        </div>
    {% endfor %}
</div>


