{% macro aspartame(product, variant) %}
    {% if variant.aspartame is not null %}
        <div>{{ 'ecolos_sylius_eu_plugin.aspartame' | trans }}</div>
    {% elseif product.aspartame == true %}
        <div>{{ 'ecolos_sylius_eu_plugin.aspartame' | trans }}</div>
    {% endif %}
{% endmacro %}

{% macro sweetener(product, variant) %}
    {% if variant.sweetener is not null %}
        <div>{{ 'ecolos_sylius_eu_plugin.sweetener' | trans }}</div>
    {% elseif product.sweetener == true %}
        <div>{{ 'ecolos_sylius_eu_plugin.sweetener' | trans }}</div>
    {% endif %}
{% endmacro %}

{% macro sweetenerAndSugar(product, variant) %}
    {% if variant.sweetenerAndSugar is not null %}
        <div>{{ 'ecolos_sylius_eu_plugin.sweetenerAndSugar' | trans }}</div>
    {% elseif product.sweetenerAndSugar == true %}
        <div>{{ 'ecolos_sylius_eu_plugin.sweetenerAndSugar' | trans }}</div>
    {% endif %}
{% endmacro %}

{% macro tooMuchSugarReplacer(product, variant) %}
    {% if variant.tooMuchSugarReplacer is not null %}
        <div>{{ 'ecolos_sylius_eu_plugin.tooMuchSugarReplacer' | trans }}</div>
    {% elseif product.tooMuchSugarReplacer == true %}
        <div>{{ 'ecolos_sylius_eu_plugin.tooMuchSugarReplacer' | trans }}</div>
    {% endif %}
{% endmacro %}

{% macro all(product, variant) %}
    {% import _self as macros %}

    {{ macros.aspartame(product, variant) | raw }}
    {{ macros.sweetener(product, variant) | raw }}
    {{ macros.sweetenerAndSugar(product, variant) | raw }}
    {{ macros.tooMuchSugarReplacer(product, variant) | raw }}
{% endmacro %}