{% macro renderIfFood(product, isNonFood) %}
    {% if not isNonFood %}
        {% import '@EcolosSyliusEuPlugin/sweeteners.html.twig' as sweeteners %}
        {{ sweeteners.all(product, product.variants.get(0)) | raw }}

        {% import '@EcolosSyliusEuPlugin/colorants.html.twig' as colorants %}
        {{ colorants.html(product, product.variants.get(0)) | raw }}

        {% import '@EcolosSyliusEuPlugin/caffeine.html.twig' as caffeine %}
        {{ caffeine.html(product, product.variants.get(0)) | raw }}

        {% import '@EcolosSyliusEuPlugin/preservative.html.twig' as preservative %}
        <div>{{ preservative.text(product, product.variants.get(0)) | raw }}</div>

        {% include '@EcolosSyliusEuPlugin/allergenics.html.twig' %}
    {% endif %}
{% endmacro %}

{% set isNonFood = product.mainTaxon.code in ecolos_eu_non_food %}

{% import _self as macros %}

<div class="ui bottom attached tab segment" data-tab="ingredients">
    {{ sonata_block_render_event('sylius.shop.product.show.tab_ingredients', {'product': product}) }}

    {% if product.isConfigurable() and product.getVariantSelectionMethod() == 'match' and not product.variants.empty() %}
        <div id="ecolos_product_variant_ingredients"
             class="{{ isNonFood ? "" : "ingredients" }}">
            {% if product.variants.get(0).ingredients|length %}
                <p>{{ product.variants.get(0).ingredients | raw }}</p>
            {% elseif product.ingredients|length %}
                <p>{{ product.ingredients | raw }}</p>
            {% endif %}

            {{ macros.renderIfFood(product, isNonFood) }}
        </div>
    {% else %}
        {{ product.ingredients | raw }}

        {{ macros.renderIfFood(product, isNonFood) }}
    {% endif %}

    <p>{{ "ecolos_sylius_eu_plugin.allergensBold" | trans }}</p>
</div>
