{% macro renderIfFood(product) %}
    {% set variant = product.variants|first %}

    {% if not product.mainTaxon.nonFood %}
        {% from '@EcolosSyliusEuPlugin/util.html.twig' import colorants, aspartame, sweetener, sweetenerAndSugar, tooMuchSugarReplacer, preservative, allergenics, caffeine %}

        {#Sweeteners START#}
        {{ aspartame(product, variant) | raw }}
        {{ sweetener(product, variant) | raw }}
        {{ sweetenerAndSugar(product, variant) | raw }}
        {{ tooMuchSugarReplacer(product, variant) | raw }}
        {#Sweeteners END#}

        {{ colorants(product, variant) | raw }}

        {{ caffeine(product, variant) | raw }}

        <div>{{ preservative(product, variant) | raw }}</div>

        {{ allergenics(product) }}
    {% endif %}
{% endmacro %}

{% import _self as macros %}

<div class="ui bottom attached tab segment" data-tab="ingredients">
    {{ sonata_block_render_event('sylius.shop.product.show.tab_ingredients', {'product': product}) }}

    {% if product.isConfigurable() and product.getVariantSelectionMethod() == 'match' and not product.variants.empty() %}
        <div id="ecolos_product_variant_ingredients"
             class="{{ product.mainTaxon.nonFood ? "" : "ingredients" }}">
            {% if product.variants|first.ingredients|length %}
                <p>{{ product.variants|first.ingredients | raw }}</p>
            {% elseif product.ingredients|length %}
                <p>{{ product.ingredients | raw }}</p>
            {% endif %}

            {{ macros.renderIfFood(product) }}
        </div>
    {% else %}
        {{ product.ingredients | raw }}

        {{ macros.renderIfFood(product) }}
    {% endif %}

    {% if not product.mainTaxon.nonFood %}
        <p>{{ "ecolos_sylius_eu_plugin.allergensBold" | trans }}</p>
    {% endif %}
</div>
