{% macro exceed(product) %}
    {% if not product.mainTaxon.nonFood %}
        <p class="mt-1">
            <strong>{{ 'sylius.ui.information'|trans }}: </strong>
            {{ 'ecolos_sylius_eu_plugin.dontExceedRecommendation' | trans }}
        </p>
    {% endif %}
{% endmacro %}

<div class="ui bottom attached tab segment" data-tab="intake">
    {{ sonata_block_render_event('sylius.shop.product.show.tab_intake', {'product': product}) }}

    {% if product.variants.get(0).intake|length %}
        <div id="ecolos_product_variant_intake">
            <p>{{ product.variants.get(0).intake | raw }}</p>
        </div>
    {% endif %}

    {% if product.intake|length %}
        <p>{{ product.intake | raw }}</p>
    {% endif %}

    {% import _self as macros %}

    {{ macros.exceed(product) }}
</div>
